@model Project.Web.ViewModels.Activities.ActivityDetailsViewModel

<div class="col-md-9">
    <div class="row">
        <div>
            @Html.DisplayNameFor(m => m.Description) : @Html.DisplayFor(m => m.Description)
        </div>
        <div>
            @Html.DisplayNameFor(m => m.ClientName) : @Html.DisplayFor(m => m.ClientName)
        </div>
        <div>
            @Html.DisplayNameFor(m => m.StartDate) : @Html.DisplayFor(m => m.StartDate)
        </div>
        <div>
            @Html.DisplayNameFor(m => m.Duration) : @Html.DisplayFor(m => m.Duration)
        </div>
        <div>
            @Html.DisplayNameFor(m => m.DueDate) : @Html.DisplayFor(m => m.DueDate)
        </div>
    </div>
    <div class="row">
        <ul>
            @foreach (var item in Model.Tasks)
            {
                <li>
                    @Html.DisplayFor(m => item.Description)
                </li>
            }
        </ul>
    </div>
    <div class="row">
        @Html.ActionLink("Back to Activities", "Index", "Activities", null, new { @class = "btn btn-default" })
    </div>
</div>
